body {
    margin: 20% 0;
    background-color: mistyrose;
}

.login__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

p,
.login__form_txt {
    margin: 0;
    padding: 5px;
    font-size: 2em;
    font-family: monospace;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.login__status {
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    width: 370px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
}

.login__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.login__form_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5px;
}

.login__form_btn {
    margin-top: 30px;
    box-shadow: 0px 0px 5px 0px rosybrown;
    background-color: mistyrose;
    border: 3px solid whitesmoke;
    text-align: center;
    border-radius: 10px;
    font-size: 2em;
    font-family: monospace;
}

.login__form_btn:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.signUp {
    background-color: powderblue;
    margin-top: 15px;
}

.login__form__inpt {
    box-shadow: 0px 0px 5px 0px rosybrown;
    background-color: whitesmoke;
    border: 3px solid mistyrose;
    border-radius: 10px;
    font-size: 2em;
    font-family: monospace;
}

.login__form__inpt:focus {
    outline: none;
    border: 3px solid whitesmoke;
}

.fail {
    border: 3px solid brown;
    box-shadow: inset 0px 0px 5px 0px brown;
}

.success {
    border: 3px solid green;
    box-shadow: inset 0px 0px 5px 0px green;
}

.products__list {
    box-shadow: 0px 0px 5px 0px rosybrown;
    background-color: whitesmoke;
    border: 3px solid mistyrose;
    border-radius: 10px;
    font-size: 2em;
    font-family: monospace;
    margin: 30px 90px 10px;
}

.recipes__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(13, 13, 13, 0.4);
}

.recipes-closed {
    visibility: hidden;
}

.recipes-open {
    visibility: visible;
}

.recipes__block {
    display: flex;
    width: 900px;
    background: mistyrose;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px rosybrown;
}

